

.tooth-paste {
    cursor: move; 
    width: 200px; 
    position: absolute; 
    top: 10%; 
    left: 10%;
    z-index: 1;
}

.tooth-brush-content {
    cursor: move; 
    width: 500px; 
    height: 70px;
    position: absolute; 
    bottom: 10%; 
    right: 10%;
}

.tooth-brush {
    z-index: 1;
    display: none;
    transition: .5s linear;
    transform: scaleX(-1);
    width: 100%;
}

.tooth-brush.active {
    z-index: 2;
    display: block;
    transition: .5s linear;
}




// Extra small devices (smartphones, 374px and down)
@media (min-width: 300px) and (max-width: 374px) { 
    .tooth-paste {
        width: 100px; 
    }
    
    .tooth-brush-content {
        width: 250px;
    }
}

// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) { 
    .tooth-paste {
        width: 120px; 
    }
    
    .tooth-brush-content {
        width: 300px;
    }
}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {
    .tooth-paste {
        width: 160px; 
    }
    
    .tooth-brush-content {
        width: 400px;
    }
}